*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Style Script', cursive;
}

h1{
    color: red;
    font-size: 80px;
    padding: 20px 0;
}

.card{
    background-color: transparent;
    border: none;
}

.card:hover{
    border: 3px solid red;
    padding: 2px;
}
